<div class="container">
  <h1>About</h1>

  <p>
    This is an Angular Task Management App with full CRUD Functionalty.
    Jason-Server is the backend of this app. So if you wish to run the app and
    see if it works, download or clone the repo and install json-server(which
    should be install). Then run "npx json-server db.json" command in your local
    machine. Make sure you have all the dependencies and packages (specially
    nodejs and angular cli) installed in your machine. Then run the app using
    "npm run start". View it is a browser. Thanks for checking!
  </p>
</div>
