<div class="container">
  <h1>{{ isEditable ? "Edit Task" : "Create New Task" }}</h1>
  <form [formGroup]="formGroup" (ngSubmit)="onFormSubmited()">
    <div class="form-control">
      <label for="title">Title</label>
      <input type="text" pInputText formControlName="title" />
    </div>

    <div class="form-control">
      <label for="description">Description</label>
      <textarea
        rows="5"
        cols="30"
        pInputTextarea
        formControlName="description"
      ></textarea>
    </div>

    <div class="form-control">
      <label for="description">Start Date</label>
      <p-calendar
        [style]="{ width: '100%' }"
        placeholder="Enter date"
        formControlName="startDate"
      ></p-calendar>
    </div>

    <div class="form-control">
      <label for="assignedTo">Assigned To</label>
      <input
        type="text"
        placeholder="Enter a name"
        pInputText
        formControlName="assignedTo"
      />
    </div>

    <div class="form-option">
      <div>
        <label for="status">Status</label>

        <select name="" id="" formControlName="status">
          <option value="open">Open</option>
          <option value="in progress">In Progress</option>
          <option value="completed">Completed</option>
          <option value="canceled">Canceled</option>
        </select>
      </div>

      <div>
        <label for="priority">Priority</label>

        <select name="" id="" formControlName="priority">
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
      </div>
    </div>

    <button class="btn btn-submit" type="submit">
      {{ isEditable ? "Edit Task" : "Submit" }}
    </button>
  </form>
</div>
<p-toast></p-toast>
